/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

//colors:
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

*,
body,
.container-fluid {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: black;
    box-sizing: border-box;
}


#main {
    h1 {
        font-size: 2rem;
        font-weight: 300;
        color: $darkBlue;
    }
    
    p {
        color: $grayishBlue;
        font-size: 0.8rem;
    }
    
    button {
        background: linear-gradient(90deg, $limeGreen, $brightCyan);
        color: white;
        border-radius: 30px;
        max-width: 50vw;
    }
}


.first {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    text-align: center;
    .intro-img {
        width: 100%;
        height: 40vh;
        background-image: url("../images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        overflow: hidden;
        margin-bottom: 3.5vh;

        .mockup {
            max-width: 80%;
            position: relative;
            top: -15vh;
        }
    }

    .first-text {
        padding: 0 5vw;
    }

}

.second {
    background-color: $lightGrayishBlue;
    padding: 7.5vh 6vw;
    text-align: center;

    .row {
        margin-top: 4vh;
    }

    img {
        margin: 3.5vh 0 1vh 0;
    }

    h1 { margin: 2vh 0; }
    h2 {
        font-weight: 300;
        margin: 2vh 0;
        font-size: 1.2rem;
        color: $darkBlue;
    }
 
}

.third {
    background-color: $veryLightGray;
    text-align: center;
    padding: 10vh 0 7.5vh 0;

    .img-article {
        height: auto;
        width: 100%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .article-img {
        height: 30vh;
        overflow: hidden;
    }

    .subtitle {
        margin: 3vh 0 1vh 0;
    }

    .article {
        background-color: white;
        margin: 3vh 10vw;
        text-align: left;
        padding: 0;
        border-radius: 5px;

        h3 {
            font-size: 1.2rem;
            font-weight: 300;
        }

        p,
        h3 {
            margin: 2vh 2vh;
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;

    a {
        color: white;
        margin: 1vh 2vw;
    }

    button {
        border-style: none;
        height: 45px;
        margin: 3vh 0 4vh 0;
    }
}

@media (min-width:700px) {
    .first {
        flex-direction: row-reverse;
        text-align: left;
        margin-bottom: 0;
        overflow: hidden;

        .first-text {
            width: 70%;

            .btn {
                width: 15vw;
            }
        }

        .intro-img{
            background-image: url("../images/bg-intro-desktop.svg");overflow: visible;
            background-position: center right;
        }

        .mockup {
            max-width: 80%;
            position: relative;
            top: -15vh;
            left: 25vh;
            
        }
        
    }
}